* {
    font-family: "Roboto";
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: white;
}

.modules-center {
    background: rgb(0, 0, 0);
    border-radius: 18px;
    padding: 0 12px;
    margin-top: 4px;
}

#clock {
	font-size: 14px;
	margin: 1px 4px 0;
}

#battery,
#custom-battery {
    margin-left: 6px;
}

#workspaces button {
    padding: 0;
    margin: 0 2px;
}

#workspaces button.active {
	color: white;
}

#pulseaudio {
    color: #89b4fa;
    margin: 0 14px 0 8px;
}

#pulseaudio.muted {
    color: #f38ba8;
}

#network {
    color: #a6e3a1;
    margin: 0 14px 0 0;
}

#network.wifi {
    color: #94e2d5;
}

#network.ethernet {
    color: #74c7ec;
}

#network.disconnected {
    color: #eba0ac;
}

#battery,
#custom-battery {
    color: #f9e2af;
    margin-left: 6px;
}

#battery.good,
#custom-battery.good {
    color: #a6e3a1;
}

#battery.warning,
#custom-battery.warning {
    color: #fab387;
}

#battery.critical,
#custom-battery.critical {
    color: #f38ba8;
}

#battery.charging,
#custom-battery.charging {
    color: #cba6f7;
}
